* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

input[type=email],
input[type=tel],
input[type=text] {
    outline: none;
    appearance: none;
}

button {
    border: none;
    outline: none;
}